
form{
  background-color: rgb(174, 249, 249);
  width: 200px;
  height: 150px;
  border: 25px groove rgb(37, 51, 133);
  border-radius: 10px;
  padding: 5px;
  margin: 100px;
  display: flex;
  flex-direction: column;
}



body{
  background-color: rgb(209, 187, 229);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
}

